.List div ul{
    list-style: none;
    
}

.List div{
    display: inline-block;
    margin: 40px 5px;
}

.List div ul li{
    
    /* text-align: left; */
    margin-bottom: 15px;
}



.Venues{
    margin: 50px auto;
    padding: 50px;
    border: solid 1px rgb(216, 216, 216);
    max-width: 250px;
}

@media(max-width: 900px){
    .List div ul{
        padding: 0px;
    }
    .ThursdaySection{
        margin-bottom: -60px;
    }
}