.Participant{
    width: 80%;
    border-radius: 3px;
    max-width: 430px;
    margin: 40px 0;
    box-shadow: 3px 3px 10px rgb(228, 228, 228);
    cursor: pointer;
    transition: all .3s;
}

.Participant:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgb(230, 230, 230);
}

.Divv{
    display: inline-block;
}

.hdpslika{
    margin: 60px 0px;
}

.hdpText{
    margin-bottom: 40px;
}

.hdpslika, .hdpText{
    width: 95%;
}

@media (min-width: 901px) {

    .hdpContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .hdpText{
        width: 100%;
       
    }
    .hdpslika{
        width: 80%;
        margin-left: 100px;
    }
}
